body {
  overflow-y: scroll !important;
  box-sizing: content-box !important;
  background-color: rgb(129, 188, 255) !important;

  & .my-button {
    height: 50px;
    margin-bottom: 50px;
  }

  & .pokemon-div-1 {
    &:hover {
      transform: translateY(-3px);
      background-color: rgb(190, 190, 190);
    }
  }

  & .button-show {
    height: 150px;
    width: 250px;
    font-size: 1.8rem;
    font-weight: 700;
  }

  & .link-element {
    opacity: 0.7;
    font-size: 1.2rem;
    font-weight: 800;
  }
}

@media screen and (max-width: 768px) {
  .pokemon-div-1 {
    height: max-content;

    & > img {
      height: 200px !important;
    }
  }
}
